@font-face {
    font-family: 'OpenSans';
    src: url(./fonty/OpenSans-Regular.ttf);
}

body {
    font-family: 'OpenSans', 'sans-serif';
    background-color: white;
    margin: 0em;
    padding: 0em;
}

a {
    text-decoration: none;
}

.navbar-menu {
    color: black;
}

.navbarlogo {
    padding-top: 1em;
    padding-bottom: 1em;
}

.navbar-hamburger {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1.5em 1.5em 0 0;
}

.title {
    text-align: center;
    justify-content: center;
    font-weight: 900;
    font-size: 30px;
    margin: 0em;
    padding-top: 5em;

}

.secondtitle {
    text-align: center;
    font-weight: 100;
    font-size: 20px;
    margin: 0em;
}

.header {
    color: white;
    background-position: center;
    background-size: 200%;
    width: 100%;
    min-height: 250px;
    background-image: url(./obrazky/pageheader-1920w.jpg);
}

.main {
    margin: 21px;
}

.main-image-right {
    margin-top: 2.5em;
    max-width: -webkit-fill-available;
    border-radius: 0 0 40px 0;
}

.main-image-left {
    margin-top: 2.5em;
    max-width: -webkit-fill-available;
    border-radius: 0 0 0 40px;
}

.header-text {
    margin: 21px;
}

header h1 {
    font-weight: 900;
    font-size: 22px;
}

.main-btn {
    padding: .5em 1.5em .5em 1.5em;
    border: dashed 0.5px;
    color:#EB6C27;
}

b.orange-color {
    color: #EB6C27;
}

.header-text-bold {
    font-weight: 700;
}

.main-text {
    padding-bottom: 1em;
}

.main h1 {
    font-size: 20px;
}

.background {
    color: white;
    margin-top: 3em;
    background-position: center;
    background-size: 200%;
    width: 100%;
    min-height: 200px;
    background-image: url(./obrazky/background-CTAblock-4460w.jpg);
}

.background-text {
    font-weight: 900;
    padding: 1em;
    padding-bottom: 0em;
    font-size: 17px;
    margin-right: 4em;
}

.background-text-small {
    display: block;
    padding-left: 1em;
    padding-bottom: 2.5em;
}

.background-button {
    padding: .5em 1.5em .5em 1.5em;
    color: white;
    background-color: #EB6C27;
    margin-left: 1em;
}

.section-header {
    margin-top: 2em;
    font-size: 22px;
    font-weight: 900;
    padding-right: 8em;
    padding-left: 1em;
}

.section-header-orange {
    color:#EB6C27;
}

.section-text {
    padding-left: 1em;
    padding-right: 2em;
}

.section-text-strong {
    font-weight: 700;
}