@font-face {
    font-family: 'OpenSans';
    src: url(./fonty/OpenSans-Regular.ttf);
}

body {
    font-family: 'OpenSans', 'sans-serif';
    background-color: white;
    margin: 0em;
    padding: 0em;
}

a {
    text-decoration: none;
}

.navbar-menu {
    color: black;
}

.navbarlogo {
    padding-top: 1em;
    padding-bottom: 1em;
}

.navbar-hamburger {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1.5em 1.5em 0 0;
}

.title {
    text-align: center;
    justify-content: center;
    font-weight: 900;
    font-size: 30px;
    margin: 0em;
    padding-top: 5em;

}

.secondtitle {
    text-align: center;
    font-weight: 100;
    font-size: 20px;
    margin: 0em;
}

.header {
    color: white;
    background-position: center;
    background-size: 200%;
    width: 100%;
    min-height: 250px;
    background-image: url(./obrazky/pageheader-1920w.jpg);
}

.main {
    margin: 21px;
}

.main-image-right {
    margin-top: 2.5em;
    max-width: -webkit-fill-available;
    border-radius: 0 0 40px 0;
}

.main-image-left {
    margin-top: 2.5em;
    max-width: -webkit-fill-available;
    border-radius: 0 0 0 40px;
}

.header-text {
    margin: 21px;
}

header h1 {
    font-weight: 900;
    font-size: 22px;
}

.main-btn {
    padding: .5em 1.5em .5em 1.5em;
    border: dashed 0.5px;
    color:#EB6C27;
}

b.orange-color {
    color: #EB6C27;
}

.header-text-bold {
    font-weight: 700;
}

.main-text {
    padding-bottom: 1em;
}

.main h1 {
    font-size: 20px;
}

.background {
    color: white;
    margin-top: 3em;
    background-position: center;
    background-size: 200%;
    width: 100%;
    min-height: 200px;
    background-image: url(./obrazky/background-CTAblock-4460w.jpg);
}

.background-text {
    font-weight: 900;
    padding: 1em;
    padding-bottom: 0em;
    font-size: 17px;
    margin-right: 4em;
}

.background-text-small {
    display: block;
    padding-left: 1em;
    padding-bottom: 2.5em;
}

.background-button {
    padding: .5em 1.5em .5em 1.5em;
    color: white;
    background-color: #EB6C27;
    margin-left: 1em;
}

.section-header {
    margin-top: 2em;
    font-size: 22px;
    font-weight: 900;
    padding-right: 8em;
    padding-left: 1em;
}

.section-header-orange {
    color:#EB6C27;
}

.section-text {
    padding-left: 1em;
    padding-right: 2em;
    padding-bottom: 2em;
}

.section-text-strong {
    font-weight: 700;
}

.reference > img {
    max-width: -webkit-fill-available;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.reference > h1 {
    text-align: center;
    font-weight: 900;
    margin-bottom: 0em;
}

.reference > p {
    text-align: center;
    font-weight: 300;
    margin-top: .5em;
}

.reference > a {
    padding: .75em 2em .75em 2em;
    color: white;
    background-color: #EB6C27;
}

.footer {
    background-color: #EB6C27;
    padding-bottom: 3em;
}

.footer > h1 {
    padding-top: 3em;
    text-align: center;
    color: white;
    font-weight: 800;
    font-size: 22px;
}

.footer > p {
    margin: 2em;
    text-align: center;
    color: white;
    font-weight: 200;
    margin-bottom: 3em;
}

.footer > a {
    justify-content: center;
    padding: 1em 2.5em 1em 2.5em;
    background-color: white;
    color: #EB6C27;
    font-weight: 900;
}

.sluzby-main-nadpis {
    font-weight: 900;
    padding-top: 2em;
    margin-left: .5em;
}

.sluzby-main-text {
    margin-left: 1em;
    margin-right: 1em;
}

.sluzby-main-text-strong {
    font-weight: 900;
}

.sluzby-section {
    margin-bottom: 5em;
}

.sluzby-section > ul {
    list-style: none;
    margin: 0em;
}

.sluzby-section li {
    margin-right: 5em;
    padding: .1em;
}

li::before {
    content: "•";
    color: #EB6C27;
    display: inline-block; 
    font-weight: 900;
    width: 1em;
    margin-left: -1em;
}

.sluzby-section-li {
    margin-left: 2em;
}

.sluzby-section > h2 {
    font-weight: 900;
    margin-left: 1em;
    font-size: 14px;
}

.sluzby-section > p {
    margin-left: 1em;
}

.sluzby-section strong {
    font-weight: 900;
}

.reference-main > h1 {
    font-weight: 900;
    padding-top: 2em;
    margin-left: .5em;
}

.reference-main > p {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2em; 
}

.reference-main-text-strong {
    font-weight: 900;
}

.reference-section {
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}

.reference-section img {
    max-width: -webkit-fill-available;
}

.reference-section h1 {
    margin: .5em;
    color: black;
}

.reference-section p {
    margin: 0em;
    color: black;
    margin-bottom: 3em;
}

.reference-section img {
    max-width: -webkit-fill-available;
}
